.slider {
  &__wrapper {
    overflow: hidden;
  }

  &__track {
    display: flex;
    will-change: transform;
    transition: transform 500ms ease-in-out;
  }

  &__slide {
    min-width: 100%;
  }
}
