.about {
  &__info {
    display: flex;
    justify-content: space-between;
    max-height: 465px;
    margin-bottom: 21px;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
  }

  &__text-block {
    max-width: 528px;
  }

  &__text {
    margin: 0 0 29px;
  }
}

.about__wrapper {
  background-color: var(--wrapper-color-1);
}

@media (max-width: 1023px) {
  .about {
    &__info {
      flex-wrap: wrap;
      justify-content: center;
      max-height: none;
    }

    &__img {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__text-block {
      max-width: 80%;
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__text-block {
      max-width: 90%;
    }
  }
}
