.header__tel {
  margin-left: auto;
}

.header__wrapper {
  background: var(--base-background-color) url('../img/background-desktop.jpg')
    no-repeat bottom right / cover;
}

@media (max-width: 1023px) {
  .header__wrapper {
    background-image: url('../img/background-tablet.jpg');
    background-position: right;
  }
}

@media (max-width: 767px) {
  .header__tel {
    margin-left: 0;
  }

  .header__wrapper {
    background-image: url('../img/background-mobile.jpg');
    background-position: left;
  }
}
