.header__tel {
  margin-left: auto;
}

.header__wrapper {
  background-color: var(--base-background-color);
  background-image: url('../img/background-desktop.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

@media (max-width: 1023px) {
  .header__wrapper {
    background-image: url('../img/background-tablet.jpg');
    background-position: right;
  }
}

@media (max-width: 767px) {
  .header__tel {
    margin-left: 0;
  }

  .header__wrapper {
    background-image: url('../img/background-mobile.jpg');
  }
}
